.docs-aside {
    position: fixed;
    padding-right: 1rem;
    padding-left: 1rem;
    top: 85px;
    bottom: 0;
    left: 0;
    z-index: 101;
    overflow: hidden;
    width: 150px;
}

.docs-aside .nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.doc-content {
    margin-top: 80px;
    margin-left: 150px;
    width: calc(100% - 170px);
}

.doc-content-wide {
    margin-top: 80px;
}

.slide-in {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.slide-out {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.slide-in-right {
    transition: transform 0.4s ease;
}
