.docs-aside {
    position: fixed;
    padding-right: 1rem;
    padding-left: 1rem;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 101;
    overflow: hidden;
    width: 150px;
    background-color: #6fb5417a;
}

.docs-aside-sm {
    position: fixed;
    top: 70px;
    padding-right: 1rem;
    padding-left: 1rem;
    bottom: 0;
    left: 0;
    z-index: 101;
    overflow: hidden;
    width: 150px;
    // background-color: #c6f3e4;
}

.doc-content {
    margin-top: 40px;
    margin-left: 150px;
    width: calc(100% - 170px);
}

.doc-content-sm {
    margin-top: 40px;
    margin-left: 40px;
    width: calc(100% - 50px);
}

.docs-aside .nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.doc-content-wide {
    margin-top: 80px;
}

.slide-in {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.slide-out {
    transform: translateX(-70%);
    transition: transform 0.3s ease;
}

.slide-in-right {
    transition: transform 0.4s ease;
}
