/* --bs-font-montserrat: 'Montserrat', sans-serif;
  --bs-font-vollkorn: 'Vollkorn', serif;
  --bs-font-poppins: 'Poppins', sans-serif;
  --bs-font-sans-serif: Inter, Helvetica, "sans-serif";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */

@tailwind base;
@tailwind components;
@tailwind utilities;

#admin-navbar {
  font-family: var(--bs-font-montserrat);
  font-weight: 500;
}

.navbar-brand-img {
  height: 25px;
}

#admin-navbar .nav-item {
  position: relative;
  margin: 0px 0.5rem;
  font-weight: 700 !important;
}

.nav-link {
  cursor: pointer;
  padding: 0;
  flex: 0 0 100%;
  padding: 0.65rem 1rem;
  transition: none;

  outline: none !important;
}

.profile-avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.menu-profile-container {
  display: flex;
  align-items: center;
}

.menu-item-notification-container {
  position: relative;
  cursor: pointer;
}
.menu-item-notification-number {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff858d;
  color: #ffffff;
  right: -9px;
  top: -9px;
}

.bg-gradient-company {
  /* background: #70b541; */
}

/* nydoz_logo 1 */

.text-active-primary.active {
  transition: color 0.2s ease;
  color: white !important;
  background-color: #1d273b !important;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
}

.app-sidebar-primary .app-sidebar-nav {
  border-right: 0 !important;
}

/* .app-sidebar-primary .app-sidebar-nav .nav .nav-link.btn.active {
  color: white;
  background-color: gray !important;
  border-radius: 0px;
} */
.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(
    .border-active
  ):not(.btn-flush):not(.btn-icon) {
  border: 0;
  padding: calc(0.775rem + 1px) calc(1.5rem + 1px);
  border-radius: 5px;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-tabs .ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  display: flex;
}
